<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/CSS/Main.css" rel="stylesheet" />
</head>
<body>
    <div id="headerHolder">
        <header>
            <h1>Webshoppen</h1>
            <div id="searchHolder">
                <form action="/Home/SearchProducts" method="post">
                    <input type="text" placeholder="Search" name="searchString" />
                    <input type="submit" value="Search" />
                </form>
            </div>
        </header>
    </div>
    <div id="navHolder">
        <nav>
            <ul>
                <li>
                    <a href="/Admin/Admin/Index">Home</a>  
                </li>
            </ul>
        </nav>
    </div>
    <div id="mainHolder">
        @if (TempData["MSG"] != null)
        {
            <span>
                @TempData["MSG"]
            </span>
        }
        <main>
            @RenderBody()
        </main>
    </div>
    <div id="footerHolder">
        <footer>
            <div id="footerButtom">
                &copy; @DateTime.Now.Year - Webshoppen
            </div>
        </footer>
    </div>

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            font_formats: 'Arial=arial,helvetica,sans-serif;Courier New=courier new,courier,monospace;AkrutiKndPadmini=Akpdmi-n',
            height: 150,
            plugins: [
              'advlist autolink lists link charmap preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code',
              'insertdatetime media nonbreaking table directionality',
              'emoticons textcolor colorpicker textpattern'
            ],

            content_css: '../Content/Email.css'
        });
    </script>

</body>
</html>
