@model List<Member>
@{
    ViewBag.Title = "Members";
}

<section>
    <h2>Members</h2>
    <table>
        <tr>
            <th>
                Username
            </th>
            <th>
                Is Admin
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (Member member in Model)
        {
            <tr>
                <td>
                    @member.Username
                </td>
                <td>
                    @member.Admin
                </td>
                <td>
                    <a href="/Admin/Admin/EditMember/@member.ID">Edit</a>
                    <a href="/Admin/Admin/DeleteMember/@member.ID" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <a href="/Admin/Admin/CreateMember">Create</a>
            </td>
        </tr>
    </table>
</section>