body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, nav, main, footer {
    width: 70%;
    padding: 12px;
    margin: 0 auto;
}

#headerHolder {
    background-color: #000327;
}

header {
    height: 150px;
}

    header h1 {
        color: white;
        margin: 0;
    }

#navHolder {
}

nav {
    border-bottom: 1px solid black;
    height: 50px;
}

    nav ul {
        margin: 0;
        padding: 0;
    }

        nav ul li {
            list-style: none;
            float: left;
            line-height: 50px;
        }

            nav ul li a, a:active, a:visited, a:hover, a:visited {
                color: black;
                text-decoration: none;
            }

#mainHolder {
}

main {
    min-height: 400px;
}

#footerHolder {
    background-color: #000327;
}

footer {
    height: 200px;
    position: relative;
}

#footerButtom {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: white;
    border-top: 1px solid white;
    width: 100%;
}

.productItem {
    border: 1px solid black;
    border-radius: 3px;
    width: 33.3333%;
    float: left;
}

    .productItem > div:first-child {
        width: 80%;
        padding: 3px;
        margin: 0 auto;
    }

        .productItem > div:first-child div:nth-child(1) {
        }

            .productItem > div:first-child div:nth-child(1) img {
                display: block;
                margin: 0 auto;
                width: 90%;
            }

        .productItem > div:first-child div:nth-child(2) {
        }

            .productItem > div:first-child div:nth-child(2) p {
                margin: 0;
            }

.spanOnSale {
    color: red;
}

.spanLineThrough {
    text-decoration: line-through;
}

.spanSalePrice {
    text-decoration: underline;
}

.spanHeader {
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

#showProduct {
}

    #showProduct > div:first-child {
        width: 40%;
        float: left;
    }

        #showProduct > div:first-child img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }

    #showProduct > div:last-child {
        width: 60%;
        float: left;
        text-align: right;
    }
